@use '../../Styles' as v

.popular-movie
  height: auto
  min-height: 110%
  background: v.$bg-dark-2

  .movie__backdrop
    background-repeat: no-repeat
    background-size: contain
    border: 1px solid #616161
    border-radius: 3px
    width: 100%
    
    transition: all 0.3s
    &:hover
      border: 1px solid v.$green-1
      box-shadow: v.$box-shadow-0

  .movie-poster__title
    color: #e9eaeb
    font-size: 1.6rem
    font-weight: 200

  .poster-rating
    color: v.$yellow-0
    font-size: 1.4rem
    margin: 0

    &__star
      width: 1.8rem
      margin: 0
      padding: 0 

    &__rating
      margin-left: 1rem


// Media queries
@media only screen and (max-width: 836px)
  .movie-poster__title
    display: none 

