@import '../../Styles/style.sass'

.popular-movie
  background: none

  .movie__backdrop
    border: 1px solid transparent
    background-size: contain
    background-repeat: no-repeat
    width: 100%
    transition: all 0.3s
    &:hover
      border: 1px solid $green-0


