@import '../../Styles/style.sass'
  
.navbar-container
  background: rgba(16, 13, 0, 0.85)
  box-shadow: $box-shadow-0
  display: flex
  padding-right: 1.2rem
  height: 5rem
  position: fixed
  justify-content: center
  width: 100%
  z-index: 20

.navbar__item
  list-style-type: none
  margin: 1.6rem 2rem

  svg
    margin-right: 1rem
