=btn
  background: #cfcfcf
  box-shadow: $button-shadow
  color: #000
  padding: 1rem 2rem

=btn--yellow
  background: none
  box-shadow: none
  border: 2px solid #FFF500
  border-radius: 2px
  color: #fff
  text-transform: uppercase
  transition: all 0.25s
  &:hover
    box-shadow: $button-shadow
    background: #FFF500
    color: #000