// Size
$s-size: 1.2rem
$m-size: 1.6rem
$l-size: 3.2rem
$xl-size: 4.8rem

// BG Colors
$bg-dark-2: #222326

// Box shadow
$button-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25)
$box-shadow-0: 0px 0px 5px 5px rgba(0, 0, 0, 0.25)
$box-shadow-1: 4px 3px 8px rgba(0, 0, 0, 0.25)
$box-shadow-8: 0px 0px 14px 8px rgba(0, 0, 0, 0.45)

// Button Glows
$yellow-glow: 0px 0px 8px rgba(255, 255, 0, 0.5)

// Text shadow
$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45)
$text-shadow-1: 0px 4px 4px rgba(0, 0, 0, 0.35)

// Colors
$yellow-0: #f9ec00
$yellow-1: #fffcbb
$background-1: #fafafa
$green-0: #00b900
$green-1: #00e1c6

$blue-0: #4145fc

$desktop-breakpoint: 45rem